####6 - Escribe un programa que genere la tabla de multiplicar de un número entero del 1 al 10, según la elección del usuario. Como ejemplo, para el número 2, la tabla de multiplicar debe mostrarse en el siguiente formato:

Tabla de multiplicar del 2:
2 x 1 = 2
2 x 2 = 4
[...]
2 x 10 = 20

####Importar Librerías

In [ ]:
from sre_constants import error

#####Desarrollo de Ejercicio

* El bucle "while True" asegura que el usuario ingrese un valor válido.

* "try" maneja entradas no numéricas (ej: letras).

* "int" da el formato "Entero" a la entrada otorgada por el usuario

* "except" maneja entradas no numéricas (ej: letras).

In [11]:
while True:
    entrada = input("Ingrese un número entero (del 1 al 10): ")
    try:
        numero = int(entrada)
        if 1 <= numero <= 10:
            break

        else:
            print("¡El número debe estar entre 1 y 10!)")

    except ValueError:
        print("¡Debe ingresar un número entero!")

print(f"\nTabla de multiplicar del {numero}:")
for i in range(1, 11):
    resultado = numero * i
    print(f"{numero} x {i} = {resultado}")

Ingrese un número entero (del 1 al 10): 45
¡El número debe estar entre 1 y 10!)
Ingrese un número entero (del 1 al 10): gordo
¡Debe ingresar un número entero!
Ingrese un número entero (del 1 al 10): 6

Tabla de multiplicar del 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60